
body{
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    max-width: 1920px;
}
/* navigation section */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0 240px;
}
.logo-section {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 15px;

}
.logo{
    width: 60px;
    height: 30px;
}
.primary-tex{
    font-size: 45px;
}
.span-text{
    color: #FF42A5;
}
.nav-text{
    font-size: 17px;
    font-family: 'Work Sans', sans-serif;
}
.nav-btn {
    font-size: 15px;
    border: 0;
    
}
.navigation{
    display: flex;
    gap: 15px;
}
.nav-btn{
    display: flex;
    gap: 0 10px; 
    align-items: center;
    border-radius: 25px;
    padding: 0 20px;
}

/* main section start */
/* banner section */
.banner-conteiner{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 0 240px;
    align-items: center;
}
.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 5px;
}
.banner-thems{
    color: #c42beb;
    font-size: 70px;
    font-weight: 800;
    margin: 0;
    
}
.instractions{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.banner-details{
    padding: 30px;
    border-radius: 12px;
    background-color: rgba(241, 68, 174, 0.03);
    box-shadow: 0px 4px 30px 0px rgba(205, 183, 183, 0.05);
    
}
.btn-conteiner{
    display: flex;
    gap: 10px;
    align-items: center;
}
.banner-btn1, .banner-btn2, .gamer-btn {
    font-size: 16px;
    padding: 21px 40px;
    background-color: #FF42A5;
    color: #FFFFFF;
    border-radius: 50px;
    border: 0;
}
.banner-btn2{
    background-color: #4EC5F7;
}

.img-conteiner img{
    max-width: 711px;
}

/* gamer section style */

.gamer-conteiner{
    display: flex;
    gap: 20px;
    padding: 50px 240px;
    

}
.gamer-img{
    max-width: 750px;
}
.gamer-details{
    text-align: right;
}
.gamer-heading{
    line-height: 20px;
    font-size: 45px;
    font-weight: 800;
}
.gamer-text{
    font-size: 18px;
    line-height: 20px;
   
    font-weight: 400; 
}
.our-propose{
    color: #534C64;
    font-size: 19px;
}
.propose-span{
    color: #534C64;
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
}


/* online videos section */

.online-text-conteiner{
    margin-top: 40px;
    padding: 10px 0;
}
.online-text{
    text-align: center;
    line-height: 10px;
    font-size: 45px;
    font-weight: 800;
}
.online-span, .gamer-heading{
    
    color: #c42beb;
}
.online-description, .online-details{
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400; 
}
.online-details{
    text-align: left;
}
.online-details1{
    width: 200px;
}
.videos-conteiner{
    display: flex;
    gap: 15px;
    padding: 10px 240px;
    align-items: center;
    justify-content: center;
    
}
.videos{
    max-width: 315px;
}
.videos-conteiner img{
    max-width: 100%;
    
}

.hover-effect {
    position: relative;
    width: 315px; /* Adjust the width and height as needed */
    overflow: hidden;
}

.hover-effect img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}
.hover-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 15px;
}
.hover-content:hover{
    opacity: 1.2;
}


.hover-text{
    color: #FF42A5;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 20px;
    padding: 10px;
}


/* instant section style */

.instant-conteiner{
    position: relative;
}
.instant-box{
    
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: space-between;
    padding: 70px 240px;
}

.text-conteiner{
    max-width: 341px;
    text-align: right;
}

.instant-text{
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin: 0;
    padding-bottom: 10px;
}
.instant-details{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}
.img-conteiner img{
    max-width: 635px;
}
.moving-section img{
    max-width: 280px;
    position: relative;
}
.moving-section{
    position: absolute;
    left: 47%;
    bottom: 27px;
    /* top: 60px; */
}

/* logon & logo name section */
.logo-conteiner{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 240px;
    margin: 0;
    margin-top: 20px;

}
.logo-btn{
    display: flex;
    /* gap: 10px; */
    align-items: center;
    border: 0;
    background-color: #FFF;
    border-radius: 25px;
}
.logo-btn img{
    width: 25px;
}
.logo-name{
    color: #0B0223;
    font-size: 16px;
    font-weight: 600;
}
.logo-div :hover{
    background-color: #FFF;
    color: #FF42A5;
    border: 1.3px solid #FF42A5;
    border-radius: 25px;
    padding:0 10px;
}
.logo-name:hover{
    color: #FF42A5;
    border: 0;
}
.logo-btn :hover{
    border: 0;
}


/* footer section styles */

.footer-section{
    background-color: #0B0223;
    margin-top: 50px;
    padding: 70px 0 120px;
}
.footer-logo{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 20px ;

}
.footer-heading, .our-services{
    color: #FFF;
}
.service-details, .security-options {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.our-services{
    font-size: 16px;
}
.icon-conteiner{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 40px;
    padding: 16px;
    
}


/* security section */
.security-text, .address{
    color: #FFF;
    font-size: 15px;
    text-align: center;

}

/* media queary for responsive for mobole*/

@media screen and (max-width:576px) {
    .nav-bar, .navigation{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 0 70px;
        box-shadow: none;
    }
    /* banner section */
    .banner-conteiner{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 10px 70px;
        min-width: 160px;
    }
    .gamer-img-conteiner img{
        max-width: 360px;
    }
    /* gamer section */
    .gamer-conteiner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 70px;
    }
    .gamer-details{
        text-align: center;
    }
    /* online section */

    .online-text{
        font-size: 38px;
        padding: 0 20px;
    }
    .videos-conteiner{
        flex-direction: column;
        gap: 10px;
        padding: 10px 120px;
        
    }

    .online-details{
        text-align: center;
    }
    

    /* play instant section */
    .instant-box{
    
        flex-direction: column;
        gap: 40px;
        padding: 0 70px;
    }
    .text-conteiner{
        max-width: 341px;
        text-align: center;
    }

    .img-conteiner img{
        max-width: 335px;
    }
    .moving-section img{
        max-width: 140px;
        position: relative;
    }
    .moving-section{
        position: absolute;
        left: 12%;
        bottom: -25px;
        
    }
    /* game logo section */

    .logo-conteiner{
        gap: 20px;
        flex-wrap: wrap;
        padding: 30px 70px 20px;
        margin-top: 20px;
    
    }
    .logo-btn{
        
        gap: 5px;
        align-items: center;
        border: 0;
        background-color: #FFF;
        border-radius: 25px;
    }
    .logo-btn img{
        width: 15px;
    }
    .logo-name{
        color: #0B0223;
        font-size: 11px;
        font-weight: 600;
    }

    /* footer section */
    .footer-section{
        margin-top: 20px;
        padding: 30px;
    }
    .footer-logo{
        flex-wrap: wrap;
        gap: 20px;
        
        padding-top: 20px ;
    
    }
    
    .service-details {
        flex-wrap: wrap;
        gap: 30px;
        padding: 10px 130px;
       
    }
    .our-services{
        font-size: 12px;
    }
    .icon-conteiner{
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding: 10px 130px;
        
        
    }
    .security-options{
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px 90px;
        line-height: 30px;
        
        
    }
    .address-details{
        font-size: 11px;
        line-height: 24px;
        padding: 5px 130px;
        
    }

    
}
