
body{
    font-family: 'EB Garamond', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* navigation section */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0 150px;
}
.logo-section{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 15px;

}
.logo{
    width: 50px;
    height: 25px;
}
.span-text{
    color: #FF42A5;
}
.nav-text{
    font-size: 12px;
}
.nav-btn {
    font-size: 11px;
    border: 0;
    
}
.navigation{
    display: flex;
    gap: 15px;
}
.nav-btn{
    display: flex;
    gap: 0 10px; 
    align-items: center;
    border-radius: 8px;
    padding: 0 10px;
}

/* main section start */
/* play section */
.play-conteiner{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 0 140px;
    align-items: center;
}
.play-details{
    padding: 30px;
    border-radius: 12px;
    background-color: rgba(241, 68, 174, 0.03);
    box-shadow: 0px 4px 30px 0px rgba(205, 183, 183, 0.05);
    
}
.play-btn1, .play-btn2 {
    padding: 21px 40px;
    background-color: #FF42A5;
    color: #FFFFFF;
    border-radius: 50px;
    border: 0;
}
.play-btn2{
    background-color: #4EC5F7;
}
.play-thems{
    color: #c42beb;
    font-size: 42px;
    font-weight: 800;
    margin: 0;
    
}
.img-conteiner img{
    width: 511px;
}

/* online videos section */

.text-conteiner{
    margin-top: 40px;
}
.online-text{
    text-align: center;
    line-height: 10px;
    
    font-weight: 800;
}
.online-span{
    color: #c42beb;
}
.online-description, .online-details{
    text-align: center;
    font-size: 15px;
    line-height: 20px;
   
    font-weight: 400; 
}
.online-details{
    text-align: left;
}
.videos-conteiner{

    display: flex;
    gap: 10px;
    padding: 10px 140px;
    align-items: center;
    justify-content: space-evenly;
}
.videos-conteiner img{
    width: 245px;
    height: 330px;
}

.hover-effect {
    position: relative;
    width: 245px; /* Adjust the width and height as needed */
    height: 330px;
    overflow: hidden;
}

.hover-effect img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}
.hover-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 15px;
}
.hover-content:hover{
    opacity: 1.2;
}


.hover-text{
    color: #FF42A5;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    line-height: 20px;
}

/* instant section style */
.instant-conteiner{
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: space-between;
    padding: 70px 140px;
}

.instant-text{
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    text-align: right;
    margin: 0;
    padding-bottom: 10px;
}
.instant-details{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
    margin: 0;
}
.img-conteiner img{
    max-width: 490px;
}
.moving-section img{
    max-width: 210px;
    max-height: 390px;
}
.moving-section{
    transform: translateX(42%) translateY(-270px);
}


